<div class="row">
    {{#each cards}}
    <div class="col-md-3">
       <div class="card">
           <div class="card-body">
               <h4 class="card-title d-flex justify-content-between align-items-center">
                {{ title }} <a href="/products/{{_id}}"><i class="fas fa-edit"></i></a>  
               </h4>
               <p>{{ description }}</p>
               <form action="/products/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-block btn-sm">Borrar</button>
               </form>
           </div>
    </div>
</div>
{{else}}
<div class="card mx-auto">
    <div class="card-body">
        <h1>Bienvenido {{user.name}}</h1>
        <p class="lead">No hay productos</p>
        <a href="/productos/agregar/" class="btn btn-success btn-block">Agregar producto</a>
    </div>
</div>
{{/each}}
</div>